body {
	margin: auto;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	width:90%;
}

@media (pointer:fine) {
body {
	width: 33%;
}
}

p {
	display: inline-block;
	text-align: left, justify;
	font-size: large;
}