body {
	margin: auto;
	text-align: center;
	font-family: 'Times New Roman', Times, serif;
	width: 33%;
}

@media (pointer:none), (pointer:coarse) {
body {
	width: 90%;
}
}

p {
	display: inline-block;
	text-align: left, justify;
	font-size: large;
}